/* .nav ul {
    list-style: none;
    text-align: center;
 }
 
 .nav ul li {
    display: inline-block;
 } */

 /* nav{
    z-index: 1;
 } */

 html, body{
    height: 100%;
    /* overflow: hidden; */
    overscroll-behavior-y: none; 

 }

 .nav-logo{
   color: #DAF9FA; 
   height: 100%; 
   display: table-cell; 
   vertical-align: middle; 
   font-weight: 400; 
   letter-spacing: 4px;
 }
#home-link{
   text-decoration: none;
}

h1 span{
   color: #F04EEB; 
   font-weight: 1000; 
   font-size: 12px; 
   letter-spacing: 0.5px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.person-icon{
   font-size: 20px;
   vertical-align: middle;

}

.shopping{ 
   font-size: 24px;
   vertical-align: middle;
   padding-left: 2em;
   cursor: pointer;
   text-align: center;
   /* padding-top: 10px; */
}


@media all and (max-width: 575px){

   .navbar{
      padding-bottom: 25px;
   }
   .shopping{
      position: absolute;
      right: 25px;
      padding-right: 3px;
   }
   .cart-number{
      position: absolute;
      right: 10px; 
      /* padding-top: -2px; */
      /* padding-bottom: 5px; */


      
   }
   .person-icon{
      position: absolute;
      left: 5px; 
   }
}


.icons{
   display: inline-flex;
}


.cart-number{
   color: white;
   padding-left: 0.5em;
   margin-top: 2px;

}

 .banner-image{
    background-image: url('/images/nyc.jpg'); 
    background-size: cover;
}

/* .container-profile{
   bottom: 580px;
   position: absolute; 

} */
/* .avatar-ctn{
   background-color: navy; 
   text-align: center;
} */

/*.avatar{ 
   /* top: -250px; 
   right: 300px;
   width: 75%; 
   max-width: 100%;
   position: relative; */
   /* width: 75%;  */
   /* border-bottom: 1px solid rgba(0,0,0,0.50);  */
/* }

/* .navbarNav{
   position: relative;
   left: 500px;
} */
 .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
 }

 .navbar-nav > li {
    display: inline-block;
    width: 100px; 
    float:none;
}

footer {
    width: 100%;
    height: 405px;
    background-image: url(/images/logo.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 100%;
    opacity: 1.0;
    text-shadow: 
         0.07em 0 white,
         0 0.07em black,
         -0.07em 0 black,
         0 -0.07em black,
         -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
    
}

/* #copyright{
   visibility: visible;
} */

/* footer:hover{
   opacity: 0.9; 
} */

@media all and (max-width: 243px){

   #copyright{
      visibility: hidden;
      display: none;
   }
}

.form-row{
   display: flex;
   justify-content: center;
   /* flex-wrap: wrap; */
}


#subscribe-button{
   position: relative;
   bottom: 35px;
}

#subscribe-button.active{
   top: 25px;
}

#first-form-email{
   visibility: hidden;
}

#second-form-number{
   visibility: hidden;
}

#first-form-email.active{
   visibility: visible;

}

#second-form-number.active{
   visibility: visible;

}


/* .form-box{
   margin: 0 auto;
   flex-wrap: wrap;

}

#form-email{
   width: 50%;
}

#form-number{
   width: 50%;
} */
/* @media all and (max-width: 900px){
   .person-icon{
       position: relative;
       left: 10px;
   }
} */
.navbar-toggler{
   position: fixed;
   right: 7px;
   top: 5px;
}
/* Dropdown Button */
.dropbtn {
   background-color: #04AA6D;
   color: white;
   padding: 10px;
   font-size: 12px;
   border: none;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 5px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 6px 9px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {
    background-color: #ddd;
   }
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
    display: block;
   }
 
 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {
    background-color: #3e8e41;
   }