

body{
    height: 100%;
    /* overflow: hidden; */
    overscroll-behavior-y: none; 

 }

.avatar{
    /* top: -250px; 
    right: 300px;
    width: 75%; 
    max-width: 100%;
    position: relative; */
    width: 75%; 
    border-bottom: 1px solid rgba(0,0,0,0.50); 
 }

#title-card{
    padding: 0px 0px 0px 0px;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
.container-profile{
    width: 95%;
    max-height: 900px; 
    position: relative;
    overflow-y: scroll;

 }

 @media (max-width: 525px) { 

  .container-profile{
      max-height: 600px;
  }
  #user-email{
      font-size: 60%; 
  }
  #sign-out{
    margin-top: 3px;
    font-size: 90%; 
    max-height: 40px;  
  }
  



}
 #profile-card{
    /* position: absolute; */
    width: 33%;
    height: 50%;
    margin-right: 1%;
    float: left;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
 }



 #profile-desc{
    width: 65%;
    float: right;
    /* flex-wrap: wrap; */
 }

 #user-email{
    border: 1px solid black;
    padding: 2px 2px 2px 2px;


 }
 #sign-out{
     margin-top: 3px;
     min-height: 40px;
     
 }

 

 .avatar-ctn{
    background-color: navy; 
    text-align: center;
 }

 .accordion{
     width: 65%;
     float: right;
     margin-top: 30px;
     max-height: 400px;
     border: 1px solid blue;
     font-size: 14px;
 }

 #user-name{
     text-transform: capitalize;
 }

